* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: sans-serif;
}

body {
  margin: 0;
}

span {
  cursor: pointer;
}

.main-nav {
  background-color: #1e3d58;
  border-bottom: 2px solid #e8eef1;
  color: #e8eef1;
}

.main-nav img {
  height: 2em;
  width: 1.5em;
  filter: invert(100%);
}

.main-nav ul {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2em;
}

.main-nav li {
  display: inline;
  white-space: nowrap;
  margin: 0 .5em;
}

.main-nav h1 {
  font-weight: normal;
  font-size: 2em;
}

.main-container {
  display: flex;
  white-space: nowrap;
  background-color: #43b0f1;
  color: #e8eef1;
}

.task-type-container {
  background-color: #1e3d58;
  margin: 2em;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: .75em;
}

.task-type-container h1{
  font-weight: normal;
  margin: 0;
  padding: .75em;
}